* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 100%;
}

/*/Header*/

body {
    background-color: rgb(22, 22, 80);
    width: 512px;
    text-align: center;
    color: white
}

div {
    font-family: DM Sans;
    margin: 80px;
}

h1 {
    line-height: 1;
}

h2 {
    line-height: 1;
}

img {
    width: 100px;
}

video {
    height: 200px;
    width: 260px;
    border-radius: 20px;
}

/*/Tag*/

/*Class*/

.button {
    padding: 12px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
}

.button-open {
    padding: 12px;
    border-radius: 10px;
    color: white;
    background-color: rgb(67, 62, 208);
}

.title {
    font-family: Sigmar;
}

/*Img class*/

.icon {
    position: absolute;
}

.border-img {
    height: 200px;
    width: 260px;
    border-radius: 20px;
}

/*/Img class*/

.group {
    padding: 50px;
    border-radius: 30px;
    color: white;
    background-color: rgb(67, 62, 208);
    text-align: left;
}

/*/Class/